.lead {
  display: flex;
  width: calc(100% - 148px*2);
  flex-direction: column;
  padding-top: 56px;
  align-items: center;
}


@media screen and (max-width: 1279px) {
  .lead {
    padding-top: 48px;
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: 100%;
  }
}